.flex-container {
  display: flex;
  padding: 8% 8% 8% 8%;
  flex-direction: row;
}

.panel-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #015249;
  color: white;
}

h1 {
  font-size: 1500%;
  color: #F53240;
}

.logo {
  max-width: 100%;
  height: auto;
  padding-right: 8%;
  border-bottom: 1px solid;
}

.form-group {
  padding: 6px 12px;
}

.btn {
  padding: 6px 12px;
  width: 100%;
  background-color: #F53240;
  &:hover {
    background-color: #AA000C;
  }
}

textarea, #subject {
  width: 100%;
}

.left-portion {
  padding: 50em;
}

#map {
  height: 100px;
  width: 100%;
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

.clickable {
  cursor: pointer;
}

#sub {
  text-align: center;
}

.panel > .panel-heading {
  background-color: #015249;
  color: white;
  &:hover {
    background-color: #227C72;
  }
}

body {
  font-family: "Muli", sans-serif;
}

.txt {
  list-style: none;
  // border-bottom: 1px solid;
  color: #F53240;

}

.txt li {
  display: inline-block;
  float: left;
  font-weight: 700;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.txt.hiddn li.spaced {
  padding-left: 0;
}

.txt li.spaced {
  padding-left: 0.5em;
}

.txt.hiddn li.ghost {
  opacity: 0;
  max-width: 0;
}

.nameExpander {
  float: left;
text-align: center;
padding-left: 35%;
width: 100%;
}

.essentials {
  float: left;
}

a {
  color: white;
}
a:hover {
  color: #F53240;
}

a:visited{
  color: #CAC8C8;
}